<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<configuration>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>%d{HH:mm:ss.SSS} [%-5level] [%thread] [%logger{36}] - %m%n</Pattern>
		</layout>
	</appender>
	
	<root level="DEBUG">
		<appender-ref ref="STDOUT" />
	</root>


	<timestamp key="bySecond" datePattern="yyyyMMdd'T'HHmmss"/>
	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<file>log/log-${bySecond}.txt</file>
		<encoder>
			<Pattern>%logger{35} - %msg%n</Pattern>
		</encoder>
	</appender>

	<root level="INFO">
		<appender-ref ref="FILE" />
	</root>
</configuration>